<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <link rel="stylesheet" href="<%- _.style('logger.css') %>">
</head>

<body>
  <div class="container-fluid">
    <div class="row header">
      <div class="col-xl-2 logo">LOGGER</div>
      <div class="col-xl-10 group-detail">
        <div class="detail mr-4">
          <span class="title">News lasted</span>
          <span class="value"><%= list && list.length ? list[0].timestamp : '--'; %></span>
        </div>
        <div class="detail mr-4">
          <span class="title">Total</span>
          <span class="value"><%= list ? list.length : '0'; %></span>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-xl-2 menu">
        <label class="form-label">Date range:</label>
        <div class="input-group input-daterange mb-3"  id="date-picker-from">
          <input type="text" class="form-control">
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="bi bi-calendar-week"></i>
            </div>
          </span>
        </div>
        <div class="input-group input-daterange mb-3" id="date-picker-to">
          <input type="text" class="form-control">
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="bi bi-calendar-week"></i>
            </div>
          </span>
        </div>
        <div class="input-group">
          <button type="submit" class="btn btn-primary mb-3">Filter</button>
        </div>
      </div>

      <div class="col-xl-10 main">
        <div class="card">
          <ul class="list-group list-group-flush">
            <% list.forEach(function(item, i){ %>
              <li class="list-group-item" data-toggle="collapse" data-target="#collapseExample<%= i; %>" aria-expanded="false" aria-controls="collapseExample">
                <div class="mb-0 name-log">
                  <span class="badge badge-<%=item.type %> mr-2"><%= item.level %></span>
                  <span class="badge badge-light mr-2"><%= item.timestamp %> </span> 
                  <%= item.name %> 
                </div>
                <div class="collapse mt-2" id="collapseExample<%= i; %>">
                  <div class="card card-body">
                    <pre><%= item.message %></pre>
                  </div>
                </div>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <%- include('footer'); %>
</body>

<script>
  $('#date-picker-to').datepicker({
    "format": 'yyyy/mm/dd',
    "autoclose": true
  });
</script>
</html>