<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <style>
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('<%- _.image("bg_header.jpg") %>');
      box-shadow: 1px 1px 2px #ccc;
    }
    .logo {
      width: 100px;
      object-fit: contain;
    }
    @media screen and (min-width: 768px) {
      .ifsize {
        width: 640px;
        height: 480px;
      }
    }
    .barner {
      background-color: rgb(151, 151, 151);
      box-shadow: inset 0px -1px 5px rgb(92, 90, 90);
    }
  </style>
</head>
<body>
  <div class="container-fluid p-0">
    <div class="header">
      <img src='<%- _.image("logo.png") %>' class="logo" />
    </div>
    <div class="jumbotron jumbotron-fluid barner">
      <div class="container">
        <h1 class="display-4">Heo Đến Rồi Tools</h1>
        <p class="lead">Tận hưởng cảm giác của tự động hóa.</p>
      </div>
    </div>
    <div class="row p-3 m-0">
      <div class="col-sm-12 col-md-6 mb-3 p-3">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Đăng nhập</h5>
            <form method="POST" action="/login">
              <%if (error) { %>
                <small class="form-text text-danger"><%=error;%></small>
              <% } %>
              <div class="form-group">
                <label for="inputUID">UID</label>
                <input type="number" name="uid" class="form-control" id="inputUID" aria-describedby="uidHelp" placeholder="Nhập UID">
              </div>
              <div class="form-group">
                <label for="inputPassword">Mật khẩu</label>
                <input type="password" name="password"  class="form-control" id="inputPassword" placeholder="Nhập mật khẩu">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" name="save" class="form-check-input" id="inputCheck">
                <label class="form-check-label" for="inputCheck">Lưu thông tin đăng nhập</label>
              </div>
              <button type="submit" class="btn btn-primary">Vào</button>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Phiên bản mới nhất</h5>
            <h6 class="card-subtitle mb-2 text-muted">V<%=version;%></h6>
            <p class="card-text" style="white-space: pre-line;"><%=detail;%></p>
            <a href="<%=link;%>" class="card-link">Tải về</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 p-3 pl-0">
        <div class="card "> 
          <div class="card-body">
            <h5 class="card-title">Hướng dẫn</h5>
            <div class="d-flex justify-content-center">
              <iframe src="<%=youtube;%>" class="ifsize"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = () => {
      let uid = document.getElementById('inputUID');
      let pwd = document.getElementById('inputPassword');
      let check = document.getElementById('inputCheck');
      uid.value = Cookies.get('uid');
      pwd.value = Cookies.get('pwd');
      check.checked = Cookies.get('save');
      function save() {
        Cookies.set('save', check.checked, { expires: 365 });
        Cookies.set('uid', uid.value, { expires: 365 });
        Cookies.set('pwd', pwd.value, { expires: 365 });
      }
      check.onchange = () => {
        if (check.checked) {
          save();
        } else {
          Cookies.set('save', false, { expires: 365 });
        }
      }
      uid.onchange = () => {
        if (check.checked) {
          Cookies.set('uid', uid.value, { expires: 365 });
        }
      }
      pwd.onchange = () => {
        if (check.checked) {
          Cookies.set('pwd', pwd.value, { expires: 365 });
        }
      }
    }
  </script>
  <%- include('footer'); %>
</body>
</html>